
<div class="form_container">

    <div class="atypicalForm">

    <div class="atypicalForm_title">ATYPICAL</div>

    <form action="/addCoach" method="POST" class="formulario" enctype="multipart/form-data">
        <div class="atypicalForm_input">
            <input type="text" name="name" placeholder="Nombre">
        </div>
        <div class="atypicalForm_input">
            <input type="text" name="surname" placeholder="Apellido">
        </div>
        <div class="atypicalForm_input">
            <input type="text" name="ign"  placeholder="Nick">
        </div>
        <div class="atypicalForm_input">
            <input type="text" name="description" placeholder="Descripcion">
        </div>
        <div class="atypicalForm_input">
            <select name="game" id="">
                <option value="Valorant">Valorant</option>
                <option value="Rocket League">Rocket League</option>
                <option value="League">League</option>
                <option value="Starcraft">Starcraft</option>
                <option value="Dota 2">Dota 2</option>
                <option value="Ssb">Ssb</option>
                <option value="Overwatch">Overwatch</option>
                <option value="Pubg">Pubg</option>
            </select>
        </div>
        <div class="atypicalForm_input">
            <input type="number" name="price" placeholder="Precio">
        </div>
        
            <div class="atypicalForm_input"><label for="">Coach photo</label></div>
            <input type="file" class="img_input" name="img" placeholder="Foto">
        
            {{!-- <div class="signInForm_file"><label for="">Team logo</label></div>
            <input type="file"  name="imglogo" placeholder="Logo"> --}}
        
        <div class="formButton">
            <button type="submit">Add Coach</button>
        </div>
    </form>
</div>
</div>

