
$logo-font:'Orbitron', sans-serif;
$main-font:'Exo', sans-serif;
$main-color: white;
$font-color: #6D7CFD;
$swiper-title-color:#DAA520;

.margin-auto{
    margin: auto;
}

body{
    margin: 0;
    position: relative;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: $main-color;

    .navbar_logo{
        margin: 10px 0;
        a{
            text-decoration: none;
            color: white;
            span{
                font-family: $logo-font;
                font-size: 50px;

            }
        }

        .mobile_logo{
            display: none;
        }

    }

    .navbar_items{
        display: flex;
        width: 100%;
        background-color: #27272b;
        justify-content: center;
        cursor: pointer;
        ul{
            display: flex;
            align-items: center;
            padding: 0px;
            margin: 0px;
            height: 50px;

            a{
                text-decoration: none;
                color: white;
                height: 100%;
            }

            .navbar_cta{
                z-index: 2;
                background-color: #dd5126;
                padding: 5px 30px;
                font-family: "Exo", sans-serif;
                color: white;
                font-weight: bold;
                font-size: 16px;
                border: 1px #dd5126 solid;
                margin-left: 10px;
            }

            .admin_tab{
                position: absolute;
                right: 0px;
                margin-right: 10px;
                height: inherit;

                &:hover .admin_dropdownAdmin{
                    overflow:visible;
                }

                .admin_dropdownAdmin{
                    position: absolute;
                    top: 100%;
                    z-index: 10000;
                    max-height: 0px;
                    overflow: hidden;
                    

                    ul{
                        display: flex;
                        height: max-content;
                        flex-direction: column;
                        background-color: #27272b;

                        a{
                            height: 50px;
                        }
                    }
                }
            }
            


            // .fadeOff{
            //     animation: fadeOff 0.7s forwards;
            // }

            .games:hover  .dropdownGames{
                // display: block;
                animation-name: fadeIn;
                animation-duration: 0.7s;
                animation-fill-mode: forwards;

            }


            .user:hover  .user_dropdownUser{

                animation-name: fadeIn;
                animation-duration: 0.7s;
                animation-fill-mode: forwards;


            }
            
            .admin_tab:hover  .admin_dropdownAdmin{

                animation-name: fadeIn;
                animation-duration: 0.7s;
                animation-fill-mode: forwards;
                overflow: none;

            }

            @keyframes fadeIn {
                0% {
                    opacity: 0;
                    max-height: 0;
                    transform: translateY(-20px);
                 }
                 100% {
                    opacity: 1;
                    max-height: 100%;
                    transform: translateY(0);

                 }
            }
            @keyframes fadeOff {
                0% {
                    
                    opacity: 1;
                    max-height: 100%;
                    transform: translateY(0);
                 }
                 100% {
                    opacity: 0;
                    max-height: 0;
                    transform: translateY(-20px);

                 }
            }
        }

        li{
            list-style: none;
            font-family: $main-font;
            display: flex;
            align-items: center;
            width: 100px;
            justify-content: center;
            height: 100%;
            transition: transform 0.2s ease-in-out;
            // animation: navTransitionOff 1s ease-in-out;

            &:hover{

                    animation-duration: 1s;
                    animation-fill-mode:both;
                    animation-name: navTransition;
                }

                @keyframes navTransition{
                    from{
                        background-color: black;
                        color: white;
                    }
                    to{
                        background-color: white;
                        color: black;
                    }
                }

                @keyframes navTransitionOff{
                    from{
                        background-color: white;
                        color: black;
                    }
                    to{
                        background-color: black;
                        color: white;
                    }
                }

                .dropdownGames{

                    // display: none;
                    max-height: 0;
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    top: 133px;
                    right: 0;
                    z-index: 3;
                    cursor: pointer;



                    .dropdownGames_grid{
                        display: grid;
                        grid-template-columns: repeat(7, 1fr);
                        height: minmax(0 , auto);
                        background-color: #27272b;


                        .dropdownGames_grid_item{
                            padding: 10px;
                            margin: 0px 10px;
                            filter:grayscale(1) ;
                            display: flex;
                            justify-content: center;
                            min-height: 195px;
                            animation: uncolored 1s forwards;
                            a{
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-decoration: none;
                            }

                            &:hover{
                                animation: colored 1s forwards;
                            }

                            @keyframes colored {
                                0%{
                                    filter: grayscale(1);
                                }

                                100%{
                                    filter: grayscale(0);
                                    background-color: white;
                                }

                            }
                            @keyframes uncolored {
                                from{
                                    filter: grayscale(0);
                                    background-color: white;
                                }

                                to{
                                    filter: grayscale(1);
                                    
                                    
                                }

                            }

                            .gameName{
                                font-size: 18px;
                                font-family: $main-font;
                                color: black;
                                display: none;
                                margin: 0;
                                text-align: center;
                            }
                        }

                        .dropdownGames_grid_item:hover .gameName{
                            display: flex;
                        }
                    }

                }

            }


            }

            


            .user{


                .user_dropdownUser{
                    position: absolute;
                    top: 133px;
                    z-index: 1000;
                    max-height: 0px;
                    overflow: hidden;

                    ul{
                        display: flex;
                        height: auto;
                        flex-direction: column;
                        background-color: #27272b;

                        a{
                            height: 50px;
                        }
                    }
                }


            }

            @keyframes fadeIn {
                0% {
                    opacity: 0;
                    max-height: 0;
                    transform: translateY(-20px);
                 }
                 100% {
                    opacity: 1;
                    max-height: 100%;
                    transform: translateY(0);

                 }
            }


        }

.dropdownGamesMobile{
    display: none;
}

.user_dropdownUserMobile{
    display: none;
}

.admin_dropdownAdminMobile{
    display: none;
}


.validation_errors{
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: $main-font;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    color: white;
}

.error_msg{
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: $main-font;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    color: white;
}


.signInPopUp {

    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 10px;
    background-color: rgba(0,0,0,.9);
    z-index: 10000;
    animation-duration: 1s;
    animation-fill-mode:both;
    animation-name: downwards;


    @keyframes downwards {
        from{
            opacity: 0;
            transform: translateY(-100%);
        }
        to{
            opacity: 1;
            transform: translateY(0%);
        }
    }


    .signInPopUp_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        font-family: $main-font;

        h1{
            color:#dd5126;
        }

    }

    .signInPopUp_close{

        margin: 0;
        color: #6d7c90;
        font-size: 12px;
        font-family: $main-font;
        cursor: pointer;
    }
}

.show{
    display: flex;
}

.signInForm{

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-radius: 20px;
    width: 350px;
    margin-bottom: 120px;



    .signInForm_input{
        margin: 10px 0;

        input{
            padding: 8px 0 6px 7px;
            font-size: 14px;
            font-family: $main-font;
            width: 230px;
        }


    }

    .signInForm_logo{
        font-family: $logo-font;
        font-size: 30px;
        color: black;
        margin:30px 0;
    }

    .signInForm_file{
        font-family: $main-font;
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .formButton{

        button{
            width: 100%;
            margin: 10px 0;
            background-color: black;
            font-size: 16px;
            font-family: $main-font;
            color: white;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .account{

        p{
            width: 350px;
            border: 1px solid;
            border-left: 0;
            border-right: 0;
            display: flex;
            justify-content: center;
            color: black;
            padding: 20px 0;
            font-size: 16px;
            font-family: $main-font;
            text-indent: 5px;
        }

        span{
            font-weight: bold;
            color: #3578e5;
            cursor: pointer;
        }
    }
}



.navMobile{
    display: none;
}

.success_msg{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: $main-font;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    color: white;
}

.swiper-main{
    
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 200px;

    .swiper-slide{
        min-height: 200px;
        img{
            width: 100%;
            height: auto;
            filter: brightness(0.5);
        }
    }

    .swiper-text{
        position: absolute ;
        z-index: 2;
        display: flex;
        flex-direction: column;
        height: inherit;
        justify-content: center;
        margin-left: 40px;

        span{
            font-family: $logo-font;
            font-size: 22px;
            color: white;
        }

        p{
            width: 50%;
            color: white;
            font-family: $main-font;
        
        }

        h1{


            color: white;
            font-family: $main-font;
            font-size: 20px;


        }

        .sliderLine{
            width: 40%;
            height: 2px;
            background-color: white;
        }
    }
}


.stamp{
    display: flex;
    justify-content: center;
    margin:0px;
    p{
        font-size: 70px;
        color: $font-color;
        margin: 15px 0px;
        font-family: $main-font;
    }
}

.triangle{
    height: 0px;
    width: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $main-color;
    position: absolute;
    left: 50%;
}

.skills{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-column-gap: 1em;
    padding: 1em;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;

    .skills_mobile{
        display: none;
    }

    .cardAnimation1{
        animation-duration: 1s;
        animation-fill-mode:both;
        animation-delay: 0.5s;
        animation-name: cardAnimation1;
    }

    @keyframes cardAnimation1 {
        from{
            opacity: 0;
            transform: translateX(-100%);
        }
        to{
            opacity: 1;
            transform: translateX(0%);
        }
    }

    .cardAnimation2{
        animation-duration: 1s;
        animation-fill-mode:both;
        animation-delay: 0.5s;
        animation-name: cardAnimation2;
    }

    @keyframes cardAnimation2 {
        from{
            opacity: 0;
            transform: translateX(100%);
        }
        to{
            opacity: 1;
            transform: translateX(0%);
        }
    }



    .skills_card{
        display: flex;
        flex-direction: column;
        padding: 20px;
        img{
            width: 64px;
        }

        &:hover{
            box-shadow: 0 8px 60px 0 rgba(103,151,255,.11), 0 12px 90px 0 rgba(103,151,255,.11);
        }


            h1{
                font-family: $main-font;
                font-size: 1.3em;
                display: flex;
                margin-top: 10px;

            }

            p{
                color: #6d7c90;
                font-family: "Exo", sans-serif;
                font-size: 0.8em;

            }
        }

    }

    .coach_banner{
        background-color:#f1f1f1;
        font-family: $main-font;
        padding: 20px;
        display: flex;

        h1{
            margin: 0;
        }
    }

.coachs_page_banner{
    font-family: $main-font;
    font-size: 24px;
    color: black;
}

.title_coachs{
    background-color: #f1f1f1;
    font-size: 32px;
    font-family: $main-font;
    margin: 0;
    padding-left: 20px;
}

#coach{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    background-color: #f1f1f1;
    padding: 50px 20px;
    justify-content: center;
    column-gap: 1em;
    row-gap: 2em;

    .title{
        font-size: 36px;
    }
    .coachs_card{

        border-radius: 20px;
        border: 1px solid;
        overflow: hidden;
        height: 190px;
        display: flex;

        .coachs_card_info{
            width: 100%;
            display: flex;
            flex-direction: column;


            .coachs_card_info_player{
                display: flex;
                font-size:12px ;
                font-family:$main-font;
                background-color: #27272b;
                justify-content: space-around;
                align-items: center;
                height: 25%;
                p{
                    margin-left: 10px;
                    color: white;
                }

            }
            
            .coachs_card_info_delete{
                
            

                button{
                    background-color: #27272b;
                    border: none;
                    cursor: pointer;
                }
            }

            .coachs_card_info_review{
                font-family: $main-font;
                font-size: 11px;
                height: 50%;
                display: flex;
                align-items: center;
                padding: 0 20px;

            }

            .coachs_card_info_important{
                font-size: 13px;
                display: flex;
                justify-content: space-between;
                font-family: $main-font;
                background-color: #27272b;
                padding: 0 10px;
                height: 25%;

                p{
                    background-color: #dd5126;
                    color: white;
                    padding: 12px;
                    display: flex;
                    align-items: center;
                }
            }

        }

        .coachs_card_img{
            width: 120px;
            height: inherit;

            img{
                height: inherit;
                width: inherit;
                object-fit: cover;

            }
        }
    }

}


    .swiper-container {

        width: 100%;
        height: 400px;
      }

      .swiper-wrapper{


        .graph{
            width: 80%;
            position: absolute;;
            z-index: 1;
        }
      }

      .swiper-slide {
        display: flex;
        justify-content: left;
      }




        .swiper-slide-base{
            height: 400px;
        }

        .swiper-slide-info{

            width: 50%;
            position: absolute;
            left: 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: white;
            padding: 20px 50px;
            p{
                z-index: 2;
                width: 80%;
                margin: 0px;
                font-size: 20px;
                font-family: $main-font;

            }

            img{
                z-index: 2;
                margin: 40px 0;
            }
            a{

                z-index: 2;
                margin-top: 50px;
                
                button{
                    cursor: pointer;
                    background-color: #dd5126;
                    padding: 10px 100px;
                    font-family: "Exo", sans-serif;
                    color: white;
                    font-weight: bold;
                    font-size: 16px;
                    border: 1px #dd5126 solid;
                }
            }
        }


    .slideOne{

        &:hover .img{
            transform: scale(1.1);
            filter: grayscale(0) brightness(0.8);
        }

         .slideOne .img{

            transition: transform 1s ease-in-out;


        }

        .image-container{
            width: 100%;
            height: 100%;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .graph{
            z-index: 1;
            height: 100%;
            width: 70%;
            left: 0px;
            position: absolute;

        }

        .img{

            
            transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
            filter: grayscale(0.9) brightness(0.5);


             &:hover{
                 transform: scale(1.1);
             }
        }

    }


    .newsletter_container{
        filter: drop-shadow(1);
        margin-top: 30px;
        height: 200px;
        background-image: url('../image/banner_newsletter.jpg');
        background-size: cover;
        
        .socials_newsletter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-family: $main-font;
            color: #dd5126;
            font-size: 18px;

            .title{
                text-transform: uppercase;
            }

            p{
                display: flex;
                justify-content: center;
                margin: 0;

            }
            
            .subtitle{
                font-size: 14px;
                color: white;
                margin-top: 5px;
                margin-bottom: 20px;
            }

            form{
                display: flex;
                justify-content: center;
                width: 100%;

                input{
                    padding: 7px 5px;
                    border: 2px solid black;
                    font-style: $main-font;
                    margin-right: 10px;
                    width: 25%;
                    height: 5px;
                }

                button{
                    
                    background-color: #dd5126; ;
                    color: black;
                    font-family: $main-font;
                    font-size: 14px;
                    font-weight: bold;
                    border: none;
                }
            }
        }


    }

    .pagination_links{
        height: 20px;
        border: 1px solid black;
        background-color: orangered;
        color: black;
    }


    footer{

        
        .footer_grid{
            
            filter: invert(1);
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            background-color: rgba(245, 238, 238, 0.986);
            padding: 40px 30px;
        
            
        }

        .logo{
            font-family: $logo-font;
            font-size: 28px;
            font-weight: bold;
            height: 20%;
            width: 83%;
            cursor: pointer;
            filter: opacity(0.5);

            &:hover{
                animation: logoanim 0.2s ease-in-out forwards;
            }

            @keyframes logoanim {
                from{
                    filter: opacity(0.5);
                }
                to{
                    filter: opacity(1);
                    transform: scale(1.1) translateY(4%) translateX(3%);
                    
                }
                
            }
        }

        span{
            font-size: 16px;
            font-weight: 700;
        }
        .games{
            
            padding: 0 50px;

            ul{
            
                list-style: none;
                columns: 2;
                padding: 0;
                margin: 5px 0;

                a{
                    text-decoration: none;
                }

                li{
                    font-size: 14px;
                    color:grey;
                    line-height: 25px;
                    letter-spacing: 2px;
                    cursor: pointer;
                    &:hover{

                        animation: slideli 0.5s ease-in-out forwards;
                    }

                    @keyframes slideli {
                        from{

                        }
                        to{
                            transform: translateX(3%);
                            color: black;
                        }
                        
                    }
                }
            }
        }

        .socials_media{
            display: flex;
            margin-top: 30px;
            a{
                width: 50px;
            }

            i{
                color: gray;
                cursor: pointer;

                &:hover{
                    color: black;
                }
            }
        }

    }




    .logInPopUp {

        position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 10px;
    background-color: rgba(0,0,0,.9);
    z-index: 10000;
    animation-duration: 1s;
    animation-fill-mode:both;
    animation-name: downwards;


    @keyframes downwards {
        from{
            opacity: 0;
            transform: translateY(-100%);
        }
        to{
            opacity: 1;
            transform: translateY(0%);
        }
    }


    .logInPopUp_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        font-family: $main-font;

        h1{
            color:#dd5126;
        }

    }

    .logInPopUp_close{

        margin: 0;
        color: #6d7c90;
        font-size: 12px;
        font-family: $main-font;
        cursor: pointer;
    }

    .logInForm{

        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        border-radius: 20px;
        width: 350px;



        .logInForm_input{
            margin: 10px 0;

            input{
                padding: 8px 0 6px 7px;
                font-size: 14px;
                font-family: $main-font;
                width: 230px;
            }


        }

        .logInForm_logo{
            font-family: $logo-font;
            font-size: 30px;
            color: black;
            margin:30px 0;
        }

        .formButton{

            button{
                width: 100%;
                margin: 10px 0;
                background-color: black;
                font-size: 16px;
                font-family: $main-font;
                color: white;
                border-radius: 4px;
                cursor: pointer;
            }
        }

        .accountLog{

            p{
                width: 350px;
                border: 1px solid;
                border-left: 0;
                border-right: 0;
                display: flex;
                justify-content: center;
                color: black;
                padding: 20px 0;
                font-size: 16px;
                font-family: $main-font;
                text-indent: 5px;
            }

            span{
                font-weight: bold;
                color: #3578e5;
                cursor: pointer;
            }
        }
    }


}

.show{
    display: flex;
}

.my_info{
    display: flex;
    min-height: 300px;
    .my_info_user{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        background-color: white;
        width: 100%;
        align-items: center;
        justify-content: center;
        p{
            font-family: $main-font;
            font-size:24px;
            margin: 0px;
        }
    
        a{
            
            button{
                margin-bottom: 10px;
                background-color: #dd5126; ;
                color: black;
                font-family: $main-font;
                font-size: 20px;
                font-weight: bold;
            }
        }

        form{

            button{
                margin-bottom: 10px;
                background-color: #dd5126; ;
                color: black;
                font-family: $main-font;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

}

.form_container{

    display: flex;
    justify-content: center;

    .atypicalForm{
        flex-direction: column;
        align-items: center;
        display: flex;
        margin: 50px 0;
        border: 1px solid;
        width: 35%;
        padding: 20px 0;
        border-radius: 20px;
        
        .atypicalForm_title{
            font-family: $logo-font;
            font-size: 30px;
        }
    
        .formulario{
            
            .atypicalForm_input{
                
                display: flex;
                justify-content: center;
                
                input{
                    
                    padding: 8px 0 6px 7px;
                    margin: 10px 0;
                    font-size: 14px;
                    font-family: $main-font;
                    width: 230px;
                }

                select{
                    padding: 8px 0 6px 7px;
                    margin: 10px 0;
                    font-size: 14px;
                    font-family: $main-font;
                    width: 241px;
                }
                
                label{
                    font-size: 14px;
                    font-family: $main-font;
                    margin-top: 10px;
                }
            }
            
            .img_input{
                
            }
            
            button{
                margin-bottom: 10px;
                // background-color: #dd5126; 
                background-color: black; 
                color: white;
                font-family: $main-font;
                font-size: 20px;
                font-weight: bold;
                width: 100%;
                margin-top:20px;
            }
        }
    }
}

@media only screen and (max-width:700px){
    .swiper-main{
         
        .swiper-text{
            
            .sliderLine{
                display: none;
            }

            p{
                display: none;
            }
        }
    }
}


@media only screen and (max-width:1024px){


    .navbar{

        .burger{
            position: absolute;
            right: 10px;
            z-index: 100;
            top: 20px;

            .line{
                border: 3px white solid;
                margin: 5px;
                width: 30px;
            }
        }
        


        .navbar_items{
            height: auto;
            position: absolute;
            z-index: 3;
            left: -100%;
            top: 83px;
            
            ul{ 
                height: auto;
                display: flex;
                flex-direction: column;
                
                :nth-child(1) {
                    animation-delay: 0s;
                }
                :nth-child(2) {
                    animation-delay: 0.2s;
                }
                :nth-child(3) {
                    animation-delay: 0.4s;
                }
                :nth-child(4) {
                    animation-delay: 0.6s;
                }

                .admin_tab{
                    position: relative;
                    margin: 0;
                }
                
                a{
                    height: initial;
                }

                li{
                    width: 100vw;
                    height: 70px;
                    border-bottom: 1px solid black;
                    
                    
                    .dropdownGames{
                        
                        top: 0px;
                        overflow: scroll;
                        display: none;

                            .dropdownGames_grid{
                                
                                display: flex;
                                flex-direction: column;
                    
                                .dropdownGames_grid_item{
                                    
                                    min-height: initial;
                                    margin: 0;
                                    padding: 0;

                                    a{
                                        .item_image{
                                            display: none;
                                        }
                                    }
                                    
                                    animation: noFilter 0s forwards;
    
                                    .gameName{
                                        color: white;
                                        display: block;
                                        margin-top: 10px;
                                        font-size: 18px;
                                    }
                                    
                                }
                            }
                        }
                        
    
                        
    
                        @keyframes noFilter {
                            0%{
                                filter: grayscale(1);
                            }
                            100%{
                                filter: grayscale(0);
                            }
                        }
                       
                    }

                    

                
            }

            button{
                display: none;
            }
        }
    }

    .dropdownGamesMobile{
                        
        font-size: 18px;
        position: absolute;
        display: none;
        width: 100%;
        text-align: center;
        background-color: gray;
        z-index: 50000;

            a{
                text-decoration: none;
                font-family: $main-font;
                color: white;
            }

        .gameName{

            font-size: 18px;

        }
    }

    .user_dropdownUserMobile{

        font-size: 18px;
        position: absolute;
        display: none;
        width: 100%;
        text-align: center;
        background-color: gray;
        z-index: 50000;

        ul{
            width: 100%;
            padding: 0;
            margin: 0;
        }

        a{
            display: flex;
            list-style: none;
            text-decoration: none;
            font-family: $main-font;
            color: white;
            height: 60px;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid black;
        }
    }

    .admin_dropdownAdminMobile{

        
        font-size: 18px;
        position: absolute;
        display: none;
        width: 100%;
        text-align: center;
        background-color: gray;
        z-index: 50000;

        ul{
            width: 100%;
            padding: 0;
            margin: 0;
        }

        a{
            display: flex;
            list-style: none;
            text-decoration: none;
            font-family: $main-font;
            color: white;
            height: 60px;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid black;
        }
    }

    .active{
        animation: fromLeft 1s ease-in-out forwards;
    }

    .inactive{
        animation: goLeft 1s ease-in-out forwards;
    }

    @keyframes goLeft {
        0%{
           transform: translateX(0); 
        }
        100%{
           transform: translateX(-100%); 
        }
        
    }
    @keyframes fromLeft {
        0%{
           left: -100%;
        }
        100%{
           left: 0; 
        }
        
    }
    
    .linksAnimation{
        animation: leftLinks 1s ease-in-out;
    }

    @keyframes leftLinks {
        0%{
            transform: translateX(-100%);
        }
        25%{
            transform: translateX(20%);
        }
        50%{
            transform: translateX(-10%);
        }
        100%{
            transform: translateX(0%);
        }
    }

    .displayNone{
        display:none;
    }
    

    .rotateLine1{
        animation: rotate1 0.5s ease-in forwards;
    }
    
    @keyframes rotate1 {
        from{
    
        }
        to{
            transform: translateY(7px) rotate(45deg);
            border-color: white;
            
        }
    }
    
    .rotateLine3{
        animation: rotate3 0.5s ease-in forwards;
    }
    
    @keyframes rotate3 {
        from{
    
        }
        to{
            transform: translateY(-3px) rotate(-45deg);
            border-color: white;
        }
    }

    .stamp{

        p{
            font-size: 48px;
        }
    }

    .skills{
        margin: 0;
        grid-template-columns: repeat(4, 24%);
        
    }

    #coach{
        display: grid;
        grid-template-columns: repeat(2, 48%);
        column-gap: 2em;

        .coachs_card{
            border-radius: 0px;

            .coachs_card_info{
                
                .coachs_card_info_important{
        
                    p{
                        padding: 2px;
                    }
                }
            }
            
        }


    }

    .swiper-games{

        .swiper-wrapper{

            .swiper-slide{

                


                .swiper-slide-info{
                    display: flex;
                    left: 0;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 0;

                    img{
                       width: 50%;
                       margin: 0;
                    }

                    p{
                        margin-top: 40px;
                        margin-bottom: 30px;
                        text-align: center;
                    }

                    a{
                        margin: 0;

                        button{
                            
                        }
                    }
                }

                .swiper-slide-base{

                    #trazado{
                        display: none;
                    }

                    #background{
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .form_container{

        .atypicalForm{
            width: 55%;
        }
    }

}

@media only screen and (max-width:600px){


    .navbar{

        min-height: 65px;
        justify-content: center;
        align-items: start;


        .burger{
            top: 15px;
            right: 8px;

            .line{
                border: 2px white solid;
                margin: 6px;
            }
        }

        .navbar_logo{
            margin: 0;
            margin-left: 30px;

            a{
                span{
                    font-size: 29px;
                }
            }
        }

        .navbar_items{
            height: initial;
            top: 65px;
            .items{
                height: max-content;

                li{
                    height: 60px;
                }
            }
        }
    }
    
    .signInPopUp{
        animation: downwardsMob 1s ease-in-out forwards;
        padding: 0;

        .signInForm{
            width: 300px;
        }
    }

    .logInPopUp{
        animation: downwardsMob 1s ease-in-out forwards;
        padding: 0;

        .logInForm{
            width: 300px;
        }
    }

    @keyframes downwardsMob {
        from{
            transform: translateY(-100%);
        }
        to{
            transform: translateY(40%);
        }
    }

    .stamp{

        p{
            font-size: 26px;
        }
    }

    .skills{

        display: flex;
        flex-direction: column;

        .skills_card{

        }
    }

    .coach_banner{

        background-color: #f1f1f1;
        display: flex;
        justify-content: center;

        h1{
            margin: 0;
            margin-top:10px;
            font-family: $main-font;
            font-size: 24px;
        }
    }

    #coach{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;

        .coachs_card{
            overflow: hidden;
            width: 80%;
            height: 150px;
            margin: 0;

        .coachs_card_img{
            width: 80px;
        }

            .coachs_card_info{
                position: relative;

                .coachs_card_info_player{

                    align-items: center;
                    height: 25%;
                    p{
                        font-size: 10px;
                        margin: 0;
                        align-items: center;
                    }

                    img{
                        height: 50px;
                    }
                    
                    form{
                        position: absolute;
                        right: 0px;
                        top: -25px;
                    }
                }

                .coachs_card_info_review{
                    height: 50%;
                    font-size: 10px;
                }

                .coachs_card_info_important{
                    height: 25%;
                    p{
                        
                        font-size: 10px;                        
                    }
                }
            }
        }
    }

    .swiper-games{

        .swiper-wrapper{

            .swiper-slide{


                .swiper-slide-info{
               
                    img{
                        width: 80%;
                    }
        
                    p{
                        font-size: 16px;
                    }

                    .swiperGames-button{
                        padding: 10px 50px;
                    }
        
                    a{
                        button{
                            padding: 10px 50px;
                        }
                    }
        
        
                }
            }

        }
            
        }

    

    .form_container{

        .atypicalForm{
            width: 85%;
        }
    }

    footer{
        
        .footer_grid{
            display: flex;
            flex-direction: column;
            padding: 30px 18px;
        }

        span{
            font-size: 18px;
            display: flex;
            justify-content: center;
        }

        .newsletter_container{
            p{
                width: 80%;
                text-align: center;
            }
        }

        .logo{
            width: 100%;
            display: flex;
            justify-content: center;
            display: none;
        }

        .games{
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10px;

            ul{
                li{
                    font-size: 12px;
                    line-height: 30px;
                }
            }
        }

        .socials{
            display: flex;
            align-items: center;
            flex-direction: column;

            .socials_media{
                flex-direction: row;
                width: 50%;
                justify-content: space-around;

                a{
                    width: initial;
                }
            }
        }


    }
 
}


.tarjetas_container{

    height: 500px;
    display: flex;
    justify-content: space-around;

    .tarjeta{
        display: flex;
        height:200px;
        border: 1px solid blue;
    }
    
    .tarjeta_img{
        height: inherit;
        width: 150px;
        overflow: hidden;

        img{
            height: inherit;
            width: inherit;
            object-fit: cover;
        }
    }

}   

@media only screen and( max-width:650px ) {


    footer{

        .socials_media{
            flex-direction: column;
        }
    }
}



.displayBlock{
    display: block;
}