<footer>

  <div class="newsletter_container">

    <div class="socials_newsletter">
      <p class="title">Subscribe to newsletter!</p>
      <p class="subtitle">Receive our latest news, coachs, and discounts on lessons!</p>
      <form action="/newsletter" method="POST">
        <input type="email" name="email" id="newsletterEmail" placeholder="Email">
        <button type="submit">Registrame!</button>
      </form>
    </div>

  </div>

  <div class="footer_grid">

    <div class="logo">ATYPICAL</div>

    <div class="games">
      <span>Games</span>
      <ul>
        <a href="/coachs/league"><li>League of Legends</li></a>
        <a href="/coachs/valorant"><li>Valorant</li></a>
        <a href="/coachs/starcraft"><li>Starcraft</li></a>
        <a href="/coachs/dota2"><li>Dota 2</li></a>
        <a href="/coachs/overwatch"><li>Overwatch</li></a>
        <a href="/coachs/pubg"><li>PUBG</li></a>
        <a href="/coachs/rocket-league"><li>Rocket League</li></a>
        <a href="/coachs/ssb"><li>Super Smash Bros</li></a>
      </ul>

    </div>

    <div class="socials">

      <span>follow us</span>

      <div class="socials_media">
        <a href="www.facebook.com">
          <div>
            <i class="fab fa-2x fa-facebook"></i>
          </div>
        </a>
        <a href="www.instagram.com">
          <div>
            <i class="fab fa-2x fa-instagram"></i>
          </div>
        </a>
        <a href="www.twitter.com">
          <div>
            <i class="fab fa-2x fa-twitter"></i>
          </div>
        </a>
      </div>


    </div>

  </div>

</footer>