 <footer>
        <div class="logo">ATYPICAL</div>
        <div class="contact">Contact with us</div>
        <div class="games">
          <span>Games</span>
          <ul>
            <li>League of Legends</li>
            <li>Valorant</li>
            <li>CS:GO</li>
            <li>Fortnite</li>
            <li>Starcraft</li>
            <li>Dota 2</li>
            <li>Overwatch</li>
            <li>PUBG</li>
            <li>Rocket League</li>
            <li>Super Smash Bros</li>
            <li>Hearthstone</li> 
          </ul>
        
        
        </div>
      
        <div class="socials">
      
          <div class="socials_media">
          <a href="www.facebook.com">
            <div>
              <i class="fab fa-4x fa-facebook"></i>
            </div>
          </a>
            <a href="www.instagram.com">
              <div>
                <i class="fab fa-4x fa-instagram"></i>
              </div>
            </a>
            <a href="www.twitter.com">
              <div>
                <i class="fab fa-4x fa-twitter"></i>
              </div>
            </a>
          </div>
      
          <div class="socials_newsletter">
            <p>Subscribe to newsletter!</p>
            <form action="/newsletter" method="POST" >
              <input type="email" name="email" id="newsletterEmail" placeholder="Email"  >
              <button type="submit">Registrame!</button>
            </form>
          </div>
      
        </div>
      
      </footer>