{{#if success_msg}}
    <div class="success_msg">
        <p>{{success_msg}}</p>
    </div>
{{/if}}

{{#if error_msg}}
    <div class="error_msg">
        <p>{{error_msg}}</p>
    </div>
{{/if}}

{{#if error}}
    <div class="error_msg">
        <p>{{error}}</p>
    </div>
{{/if}}

{{#if success}}
    <div class="success_msg">
        <p>{{success}}</p>
    </div>
{{/if}}