<title>A-typical</title>
</head>

<body>
  <nav class="navbar">
    <div class="burger">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
    <div class="navbar_logo">
      <a href="/"><span class="normal_logo">ATYPICAL</span>
        <span class="mobile_logo">A</span>
      </a>
    </div>
    <div class="navbar_items items_list">

      <ul class="items">
        <a href="/ourcoachs">
          <li class="list_item">Our Coachs</li>
        </a>
        <li class="games list_item">Games
          <div class="dropdownGames fadeOff">

            <div class="dropdownGames_grid">

              <div class="dropdownGames_grid_item">
                <a href="/coachs/league">
                  <div class="item_image">
                    <img src="image/logos/lol.png" alt="">
                  </div>
                  <div>
                    <p class="gameName">League of Legends</p>
                  </div>
                </a>
              </div>

              <div class="dropdownGames_grid_item">
                <a href="/coachs/dota2">
                  <div class='item_image'>
                    <img src="image/logos/dota2.png" alt="">
                  </div>
                  <div>
                    <p class="gameName">Dota 2</p>
                  </div>
                </a>
              </div>

              <div class="dropdownGames_grid_item">
                <a href="/coachs/rocket-league">
                  <div class='item_image'>
                    <img src="image/logos/rl.png" alt="">
                  </div>
                  <div>
                    <p class="gameName">Rocket League</p>
                  </div>

                </a>
              </div>

              <div class="dropdownGames_grid_item">
                <a href="/coachs/starcraft">
                  <div class='item_image'>
                    <img src="image/logos/starcraft2.png" alt="">
                  </div>
                  <div>
                    <p class="gameName">Starcraft 2</p>
                  </div>

                </a>
              </div>

              <div class="dropdownGames_grid_item">
                <a href="/coachs/ssb">
                  <div class='item_image'>
                    <img src="image/logos/ssb.png" alt="">
                  </div>
                  <div>
                    <p class="gameName">Super Smash Bros</p>
                  </div>
                </a>
              </div>

              <div class="dropdownGames_grid_item">
                <a href="/coachs/valorant">
                  <div class='item_image'>
                    <img src="image/logos/valorant.png" alt="">
                  </div>
                  <div>
                    <p class="gameName">Valorant</p>
                  </div>
                </a>
              </div>

              <div class="dropdownGames_grid_item">
                <a href="/coachs/overwatch">
                  <div class='item_image'>
                    <img src="image/logos/overwatch.png" alt="">
                  </div>
                  <div>
                    <p class="gameName">Overwatch</p>
                  </div>
                </a>
              </div>

              <div class="dropdownGames_grid_item">
                <a href="/coachs/pubg">
                  <div class='item_image'>
                    <img src="image/logos/pubg.png" alt="">
                  </div>
                  <div>
                    <p class="gameName">Player U. Bgs</p>
                  </div>

                </a>
              </div>

            </div>

          </div>
        </li>

        {{#if user}}

        <li class="user list_item">User
          <div class="user_dropdownUser">
            <ul>
              <a href="/my-info">
                <li>
                  My Info
                </li>
              </a>
              <a href="/logout">
                <li>Logout</li>
              </a>
            </ul>
          </div>
        </li>
        {{/if}}
        {{#unless user}}
        <li class="signIn list_item" onclick="home.showPopUp()">Sign Up</li>
        <li class="list_item" onclick="home.showPopUpLog()">Log In</li>
        {{/unless}}
        <button class="navbar_cta">Choose your master!</button>
        {{#if admin}}
        <li class="admin_tab list_item">Admin tab
          <div class="admin_dropdownAdmin">
            <ul>
              <a href="/coachlist">
                <li>
                  Coachs list
                </li>
              </a>
              <a href="/addcoach">
                <li>New coach</li>
              </a>
            </ul>
          </div>
        </li>
        {{/if}}
      </ul>

      <!-- <div class="navbar_cta">
                <button>Start!</button>
            </div> -->

    </div>

    <div class="signInPopUp">

      <div class="signInPopUp_title">

        <h1>Sign up for ATYPICAL</h1>
        <p>The best coaching experience</p>

      </div>

      <div class="signInForm">

        <div class="signInForm_logo">ATYPICAL</div>

        <form action="/signup" class="form" method="POST">

          <div class="signInForm_input">
            <input class="boxInput" type="text" name="name" placeholder="Name" id="nick" value="{{name}}">
          </div>

          <div class="signInForm_input">
            <input class="boxInput" type="email" name="email" placeholder="Mail" id="email" value="{{email}}">
          </div>

          <div class="signInForm_input">
            <input class="boxInput" type="password" name="password" placeholder="Password" id="password">
          </div>

          <div class="signInForm_input">
            <input class="boxInput" type="password" name="password2" placeholder="Re-type Password" id="password2">
          </div>


          <div class="formButton">
            <button type="submit">Sign Up</button>
          </div>

        </form>
        <div class="errorMessages"></div>
        <div class="account">
          <p>Already have an account? <span onclick="home.toLogIn()"> Log In</span> </p>
        </div>
        <p class="signInPopUp_close" onclick="home.hidePopUp()">Close tab</p>
      </div>

    </div>

    <div class="logInPopUp">

      <div class="logInPopUp_title">

        <h1>Log in ATYPICAL</h1>
        <p>The best coaching experience</p>

      </div>

      <div class="logInForm">

        <div class="logInForm_logo">ATYPICAL</div>

        <form action="/login" class="formLogIn" method="POST">

          <div class="logInForm_input">
            <input class="boxInput logName" type="text" name="name" placeholder="Name" id="nick" value="{{name}}">
          </div>

          <div class="logInForm_input">
            <input class="boxInput logPass" type="password" name="password" placeholder="Password" id="pass">
          </div>

          <div class="formButton">
            <button type="submit">Log In</button>
          </div>

        </form>

        <div class="errorMessagesLog"></div>

        <div class="accountLog">
          <p>Dont have an account? <span onclick="home.toSignUp()"> Sign Up</span> </p>
        </div>
        <p class="logInPopUp_close" onclick="home.hidePopUpLog()">Close tab</p>
      </div>

    </div>



  </nav>

  <div class="dropdownGamesMobile fadeOff">

    <div class="dropdownGames_grid">

      <div class="dropdownGames_grid_item">
        <a href="/coachs/league">
          <div>
            <p class="gameName">League of Legends</p>
          </div>
        </a>
      </div>

      <div class="dropdownGames_grid_item">
        <a href="/coachs/dota2">
          <div>
            <p class="gameName">Dota 2</p>
          </div>
        </a>
      </div>

      <div class="dropdownGames_grid_item">
        <a href="/coachs/rocket-league">
          <div>
            <p class="gameName">Rocket League</p>
          </div>

        </a>
      </div>

      <div class="dropdownGames_grid_item">
        <a href="/coachs/starcraft">
          <div>
            <p class="gameName">Starcraft 2</p>
          </div>

        </a>
      </div>

      <div class="dropdownGames_grid_item">
        <a href="/coachs/ssb">
          <div>
            <p class="gameName">Super Smash Bros</p>
          </div>
        </a>
      </div>

      <div class="dropdownGames_grid_item">
        <a href="/coachs/valorant">
          <div>
            <p class="gameName">Valorant</p>
          </div>
        </a>
      </div>

      <div class="dropdownGames_grid_item">
        <a href="/coachs/overwatch">
          <div>
            <p class="gameName">Overwatch</p>
          </div>
        </a>
      </div>

      <div class="dropdownGames_grid_item">
        <a href="/coachs/pubg">
          <div>
            <p class="gameName">Player U. Bgs</p>
          </div>

        </a>
      </div>

    </div>
  </div>

  <div class="user_dropdownUserMobile fadeOff">

    <ul>
      <a href="/my-info">
        <li>
          My Info
        </li>
      </a>
      <a href="/logout">
        <li>Logout</li>
      </a>
    </ul>

  </div>

  {{#each errors}}
  <div class="validation_errors">
    <p>{{text}}</p>
  </div>

  {{/each}}