<p>My info page</p>

<form action="/deleteAcc/{{_id}}?_method=DELETE" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="delete_account">Delete my account</button>
</form>